* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
}

.menubar {
  height: 45px;
  background-color: #232536;
}
.menu-child {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 a {
  color: #ffffff;
}
.menu ul {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.menu-items li {
  list-style-type: none;
}
.menu-items li a {
  display: inline;
  padding: 0 3px 6px 3px;
  color: #ffffff;
}
.menu-items li a:hover {
  border-bottom: 2px solid snow;
}
.navbar {
  height: 400px;
  background-color: #f4f0f8;
}

.container {
  width: 80%;
  margin: auto;
  /* background-color: #e5e5e5; */
}
/* MAIN SECTION */
.all-news {
  border-bottom: 1px solid #6d6e76;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.all-news h1 {
  color: #232536;
}
.article {
  height: 228px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.img img {
  width: 400px;
  height: 228px;
}

.content {
  padding-left: 2rem;
}
.content h5 {
  color: #592ea9;
  letter-spacing: 2px;
}
.content h5 a:hover {
  border-bottom: 2px solid #592ea9;
}

.content h2 {
  padding: 1rem 0;
  font-weight: 700;
  font-size: 2rem;
}
.content h2 a {
  color: #232536;
}
.content h2 a:hover {
  color: #592ea9;
}
.content p {
  color: #6d6e76;
  font-weight: 400;
  line-height: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.prev-next {
  width: 100%;
  display: flex;
  justify-content: center;
}
.prev-next div {
  display: flex;
  width: 16%;
  justify-content: space-between;
  align-items: center;
}
.prev-next div h3:nth-of-type(1) a {
  color: #6d6e76;
}
.prev-next div h3:nth-of-type(2) a {
  color: #232536;
}

footer {
  height: 15rem;
}
